<h3>The Team Members for this Team: <%= @team.team_name() %> </h3>

<ul>
  <% @team.capitalists().each() do |capitalist| %>
  <li><%= capitalist.name() %> </li>
  <% end %>
</ul>

<p><a href="/teams/<%= @team.id %>/members/new">Add a new member</a></p>

<p><a href="/">Return to Main Page</a></p>

<p><a href="/teams">Return to Team Page</a></p>
